{{define "title"}}Home{{end}}

{{define "body"}}
<div class="container">

</div>
<h1>PutFile</h1>

{{ if .Response }}
{{ if .Success }}
<div class="alert alert-success" role="alert">
    Successfully uploaded, transaction ID: {{ .TransactionId }}
</div>
{{ else }}
<div class="alert alert-danger" role="alert">
    Unable to submit the request, retry later.
</div>
{{ end }}
{{ end }}

<pre>
    Upload Your File
</pre>

<form enctype="multipart/form-data" class="form-inline" action="putfile" method="post">
    <div class="form-group">
        <input type="file" name="uploadfile">
    </div>
    <input type="hidden" name="submitted" value="true">
    <button type="submit" class="btn btn-default">Upload the file</button>
</form>


{{end}}
